#app {
    margin: 0 auto;
    max-width: 700px;
    
}

.contactForm {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    color: red;
    
}

.contactsList {
    display: inline;
}

.contactItem {
    border: 2px solid black; 

}